*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.intro{
    background-color: white;
}

#banner-area{
    background-image: url(/image/fotoMonviso.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100%;
}

#banner-area h2{
    text-align: center;
    color: #f0cb6a;
    padding-top: 20%;
    font-weight: 800;
    font-size: 8vh;
}

.footer{
    background-color: white;
}

#loghi{
    font-size: 150px;
}

.loghi_footer{
    margin-top: 2%;
    align-items: center;
}

#logoOM{
    width: 35vh;
    height: 25%;
}

#logoLab{
    width: 30vh;
    height: 25%;
}

#logoDenina{
    width: 15vh;
    height: 25%;
}

.contatti{
    text-align: center;
    padding-top: 8%;
    color: black;
    font-weight: 500;
}

.contatti h3{
    padding-bottom: 2%;
    color: #f0cb6a;
    font-weight: 800;
}

.tabella{
    background-color: white;
    padding-top: 5%;
    padding-bottom: 2%;
}

#titolo{
    text-align: center;
    font-weight: 800;
    color: #f0cb6a;
    padding-bottom: 2%;
}

#info_progetto{
    padding-top: 2%;
}

#fotoPera{
    width: 25px;
    height: 25px;
}

#titolo_info{
    text-align: center;
    font-weight: 800;
    color: #f0cb6a;
    padding-top: 2%;
    font-size: 40px;
}

#sottotitolo_info{
    text-align: center;
    font-weight: 400;
    color: black;
    font-size: 15px;
}